.footer {
    width: 100%;
    height: 50px;
    background-color: #095c60;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
  }
  
  .socialMedia svg {
    color: rgb(255, 255, 255);
    margin: 30px;
    font-size: 50px;
    cursor: pointer;
  }
  
  .footer p {
    color: white;
  }